.cont h1{
  margin-top: 20px;
}

.containerCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.childDiv {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.childDiv:hover {
  transform: scale(1.05);
}

.childDiv a {
  text-decoration: none;
  color: #333;
}

.childDiv div {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
