.cartCont {
  min-height: 500px;
  height: auto;
}

.prodImage{
  box-sizing: border-box;
  width: 250px;
}

.ant-card{
  width: 300px;
  margin: 20px
}

.css-dev-only-do-not-override-w8mnev{

}

.countCnt{
  display: flex;
}