.productCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color:#f4f4f4;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
}



.pageTitle {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.productDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 380px;
  height: 300px;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.productDiv:hover {
  transform: translateY(-5px);
}

.prodImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.productName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 18px;
  color: #888;
}

.productLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.homeAll{ 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  height: 200px;
  padding-top: 4%;
  }

.homeAll .icc{
    width: 60px;
    cursor: pointer;
  }
  
.homeAll p{
    font-size: 0.8em;
  }

  @media (max-width: 768px) {
    .productCont {
      grid-template-columns: 1fr; 
      padding-left: 0;
      justify-content: center;
      align-items: center;
      padding-left: 70px;
    }
    .homeAll{
      grid-template-columns: repeat(2, 1fr) 
    }
  }